body{
    top: 0px;
}
.covid-section{
background-color: #f5f5f7;
/* display: flex; */
align-items: center;
justify-content: center;
height: 40px;
padding: 10px;
}
.para-covid{
    text-align: center;
 padding: 0px;
 margin: 0;
 font-size: 14px;
}
.more{
    font-size: 14px;
    color: rgb(0, 98, 255);
    text-decoration: none;
}
.more:hover{
    text-decoration: underline;
}
.more i{
    font-size: 7px;
    margin-left: 3px;
    align-items: center;
    text-align: center;
}
@media only screen and (max-width: 920px){
    .covid-section{
        margin-top: 30px;
    }
    .para-covid , .more{
        margin: 3px 10px;
        font-size: 12px;
    }
    .covid-section{
        padding: 0px;
        height: fit-content;
    }
}